.carousel-container {
  width: 100%;
  padding: 3.015rem 0.67rem;
  text-align: center;
  background: #FFFFFF;
}

.carousel-title {
  font-size: 2.8rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  color: #EF3A3A;
  font-family: 'Inter', sans-serif;
}

.carousel-wrapper {
  position: relative;
  height: 522.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-card {
  width: 670px;
  height: 462.3px;
  border-radius: 13.4px;
  border: 3px solid black;
  position: absolute;
  overflow: hidden;
  background: #000000;
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.carousel-card .card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background-color: white;
  color: black;
  font-size: 0.91rem;
  font-weight: bold;
  padding: 0.6rem 1rem;
  z-index: 5;
  text-align: center;
}

.carousel-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease;
  cursor: pointer;
}

.carousel-card.active:hover .overlay {
  opacity: 1;
}

.carousel-card.active {
  cursor: zoom-in;
}

.carousel-card.active:hover {
  transform: scale(1.0469);
}

.carousel-card.left,
.carousel-card.right {
  cursor: pointer;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.34rem;
  margin-top: 0.1rem;
}

.arrow-button {
  font-size: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #EF3A3A;
}

.nav-indicators {
  display: flex;
  gap: 0.536rem;
}

.nav-indicator {
  width: 6.7px;
  height: 6.7px;
  border-radius: 50%;
  background: #c1c1c1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-indicator.active {
  background: #EF3A3A;
  transform: scale(1.6);
}

.nav-indicator:hover {
  background: #333;
}

.icon-animation {
  font-size: 2.7rem;
  margin-bottom: 0.8rem;
  cursor: pointer !important;
  pointer-events: auto;
}

.icon-animation:hover, .icon-animation > * {
  cursor: pointer !important;
}

.view-text {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 10px;
  cursor: pointer;
}